#ribbon {
    text-align: center;
    padding: 1rem;
    background-color: #f5f5f7;
    color: #1d1d1d;
    font-size: 0.8rem;
}

#ribbon a {
    color: #0071e3;
}

#mainContent {
    text-align: center;
    color: #1d1d1d;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mainContent #title {
    margin: 1rem;
    font-size: 1.2rem;
}

#mainContent #subtitle {
    margin: 1rem;
    font-size: 4rem;
    font-weight: bold;
}

#mainContent #drescription {
    max-width: 600px;
    margin: 1rem auto;
    font-size: 1rem;
    line-height: 1.5rem;
}

#mainContent #price {
    font-size: 1.3rem;
    color: #86868b;
    margin: 2rem;
}

#mainContent .btn {
    font-size: 1.1rem;
    padding: .8rem 1.4rem;
    align-self: center;

}

#mainContent #productImage {
    max-width: 1000px;
    margin: 3rem auto;
    opacity: 1;
    transition: .5s;
}


#mainContent #productImage .changing {
    opacity: .5;
}



#imagePicker ul {
    display: flex;
    justify-content: center;
}

#imagePicker li {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

#imagePicker li .color {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    box-shadow: 1px 1px 1px;
    border: 4px solid #fff;
    pointer-events: none;
}

#imagePicker li .description {
    font-size: .7rem;
    color: #1d1d1d;
    margin-top: .6rem;
}

#cellGoldenGate .color {
    background-color: #c77d64;
}

#cellNiteroi .color {
    background-color: #969491;
}

#cellBrooklyn .color {
    background-color: #665241;
}

#cellOresund .color {
    background-color: #547d90;
}

#cellLittleBelt .color {
    background-color: #84857f;
}

.selected {
    outline: 2px solid #43a1ff;
}

#productImage {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}

#productImage .changing {
    opacity: 0;
}

/* responsive */
/* Mobile */
@media (max-width: 600px) {
    #mainContent {
        padding: 2rem;
        overflow: hidden;
    }

    #mainContent #subtitle {
        font-size-adjust: 3rem;
        display: none;
    }

    #imagePicker {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    #imagePicker img,
    #imagePicker svg {
        width: 100% !important;
        height: auto !important;
        display: block;
    }

    #imagePicker ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
        gap: 8px;
    }

    #imagePicker li {
        margin: 0.2rem;
        width: 60px;
        text-align: center;
    }

    #imagePicker li a,
    #imagePicker li span,
    #imagePicker li p {
        font-size: 0.7rem;
        line-height: 1.1;
        display: block;
        margin-top: 5px;
    }

    #ribbon p {
        font-size: 0.7rem;
    }
}