#header {
    font-size: 0.8rem;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#header h3{
    font-size: 1.2rem;
}

#header a{
    color: #333;
}

#bottomHeaderInner{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bottomHeaderInner a{
    margin: 0 0.5rem;
}

#bottomHeaderInner .btn, .btn{
    background-color: rgb(151, 49, 29);
    border-radius: 10rem;
    padding: .4rem 1rem;
    color: white;
}

.btn:hover{
    background: linear-gradient(to right, rgb(54, 29, 36), rgb(19, 39, 58));
    transition: 0.4s;
}