* {
    margin: 0;
    padding: 0;
    font-family: verdana, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    width: 100%;
}


#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 1rem;
    padding: 0 1rem;
    max-width: auto; 
    margin: 0 auto;
    background: linear-gradient(to right, rgb(151, 49, 29), rgb(54, 29, 36), rgb(19, 39, 58));
}

#navbar a {
    transition: .4s;
}

#navbar a:hover {
    background-color: transparent;
    color: #cccccc;
    transition: 0.4s;
}

#logo img{
    height: 60px;
    width: auto;
    display: block;
}

