@import url("./button.css");
@import url("./form.css");
@import url("./header.css");
@import url("./todoList.css");
@import url("./toolbar.css");
/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;

}

body {
    background-image: url("https://cdn.eso.org/images/screen/eso1019a.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}

.hide {
    display: none;
}

