.main-banner{
    background-image: url(../img/ponte.png);
    background-size: cover;
    background-position: center;
    padding: 10rem 0;

}

.main-banner h1,
.main-banner p{
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 3px 5px;
}   
.main-banner h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.main-banner p{
    font-size: 1.5rem;
}